body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #FE0F60;
    background: linear-gradient(to right, #FE0F60, #FE5E50);
    position: relative;
    height: 100vh;
}
.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-title {
    display: inline-block;
    width: calc(100% - 60px);
    font-size: 28px;
    text-transform: capitalize;
    margin-top: 30px;
    margin-left: 30px;
    margin-right:30px;
}
.main-text {
    display: inline-block;
    width: calc(100% - 60px);
    font-size: 16px;
    margin-top: 5px;
    margin-left: 30px;
}
.top-links {
    margin-left: 30px;
}
.link {
    display: inline-block;
    width: calc(740px / 3);
    float: left;
    background-color: #F5F8FF;
    text-decoration: none;
    color: #6E7178;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 30px;
    border: 0.5px solid #E6E9F0;
    border-bottom: 4px solid transparent;
}
.link:hover {
    border-color: #613BEA;
    border-top: transparent;
    border-right: transparent;
    border-left:transparent;
    color:#613BEA;
}
.text {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #6E7178;
    margin-top: 40px;
    margin-left: 30px;
}

